// Variables projet OHMYFOOD///////////////////

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$basic-grey: #f6f6f6;
$dark-grey: #eaeaea;
$footer-color: #353535;
$buttons-color: linear-gradient(
  356deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);

// Variables projet OHMYFOOD//////////////////
